name: Deploy to Firebase Hosting

on:
  push:
    branches:
      - main

permissions:
  contents: 'read'
  id-token: 'write'

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/56429650388/locations/global/workloadIdentityPools/github-pool/providers/github-provider"
          service_account: "firebase-deploy@g3-ranching.iam.gserviceaccount.com"

      - name: Deploy to Firebase Hosting
        run: firebase deploy --only hosting
